body {
    margin: 0;
}

/****************** Design du header *********************/

#header{
    background-color: #880000;
    display: flex;
    width: 100%;

}

.logo {
    max-width: 10vw;
    max-height: 8vw;
    padding-left: 1%;
    }

#title {
    color: rgb(255, 255, 255);
    font-size: 1.8vw;
    text-align: center;
    padding-top: 0.5em;
    padding-left: 12%;
}

.gras{
    font-weight: 1000;
}

#subtitle{
    font-size: 1.4vw;
    color: rgb(255, 255, 255);
}

.barre{
    display : flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
}

#barreGauche{
    background-image: -webkit-gradient(
          linear, center center, left center, from(#948e8e),
          to(rgba(255, 255, 255, 0))
        );
    width: 250px;
    height: 3px;
    margin:20px;
}

#barreDroite{
    background-image: -webkit-gradient(
          linear, center center, right center, from(#948e8e),
          to(rgba(255, 255, 255, 0))
        );
    width: 250px;
    height: 3px;
    margin:20px;
}

/****************** footer*********************/

.footer{
    margin-top: 10%;
}

/****************************************** navbar ********************************/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }


.navbar-custom {
    background: rgb(48,44,44);
    background: linear-gradient(90deg, rgba(48,44,44,1) 20%, rgba(110,105,105,1) 50%, rgba(48,44,44,1) 80%); 
    
    }

.container-fluid.text-center{
    border-bottom: 2px dashed #948e8e;
    border-top: 2px dashed #948e8e;

}
.navbar-custom .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }

.navbar-custom .nav-item:hover .nav-link {
        color: #e60000;
    }

.custom-toggler.navbar-toggler {
        border-color: #ffffff;
    } 
    
.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 110%;
    }



/****************************************** main ********************************/

.mainTitre{
    margin-bottom: 3%;
    font-size: 2vw;
    font-weight: 600;
    background-color:#880000;
    color:white;
    text-align: left;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.présentation{
    text-align: left;
    background-color: white;
    padding: 2%;
    padding-left: 80px;
    border-radius: 2%;
    padding-left: 50px;
}

.présentationLEFT{
    border-right-style: solid;
    border-width: thin;

}

.soustitres{
    font-size: 1.5vw;
    font-weight: 600;
    color:#880000;

}

/****************************************** puces ********************************/


ol {
    counter-reset: compt;
}

li.compt,
li.compt-pres {
    list-style-type: none;
    counter-increment: compt;
    margin-bottom: 15px;
}


/*puce a carré */

li.compt:before {
    content: counter(compt);
    padding: 5px 10px;
    margin-right: 8px;
    vertical-align: top;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    display: inline-block;
    width: 28px;
    height: 28px;
}


/*puce à rond*/

li.compt-pres:before {
    content: counter(compt);
    padding: 7px 8.5px;
    margin-right: 8px;
    vertical-align: top;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    display: inline-block;
    width: 10px;
}

li.compt-pres:before {
    /*
	-moz-border-radius: 60px;
	border-radius: 60px;
	background:#660000;
	*/
    padding: 6.1px 9.5px;
    margin-right: 6px;
    background: url('../img/rond.png') no-repeat;
}

#acm-gauche li.compt:before {
    background: #660000;
}

#acm-droite li.compt:before {
    background: #000066;
}

#ssm-gauche li.compt:before {
    background: #660000;
}

#ssm-droite li.compt:before {
    background: #000066;
}

#acm-mid li.compt:before {
    background: #660000;
}


/* permet de justifier le titre à gauche dans les listes ol */

p.titleol,
p.titleol-cadre {
    display: inline-block;
    margin: 0;
    margin-top: 2px;
}

p.titleol {
    width: 340px;
}

P.titleol-cadre {
    width: 289px;
}



/****************************************** avis ********************************/

.card { border-radius: .7rem; }